.app-container {
    display: flex;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (min-width: 1280px) {
    .main-content {
        width: 85%;
        flex-direction: row;
    }
}

.schedule-wrapper {
    width: 100%;
    height: 100%;
    padding: 0.75rem;
    border-radius: 0.125rem;
}

@media (min-width: 1280px) {
    .schedule-wrapper {
        width: 55%;
    }
}